@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 50px;
  @include mobile {
    padding: 10px 30px
  }

  .titleContainer {
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    //border: 2px solid white;
    gap: 20px;
    padding: 0 20px;

    @include mobile {
      width: 100%;
      gap: 10px;
      flex-direction: column;
    }

    .imgContainer {
      flex: 1;

      @include mobile {
        display: flex;
        justify-content: center;
      }

      img {
        width: 230px;
        border-radius: 38% 62% 66% 34% / 44% 40% 60% 56%;
        @include mobile {
          width: 170px;
        }
      }
    }

    .title {
      flex: 4;
      display: flex;
      flex-direction: column;
      gap: 10px;
      //background-color: aqua;

      @include mobile {
        text-align: center;
        gap: 10px;
      }

      h1 {
        font-size: 60px;
        @include mobile {
          font-size: 40px;
        }
      }

      p {
        font-size: 18px;
        @include mobile {
          font-size: 14px;
        }
      }

      .desktop {
        @include mobile {
          display: none;
        }
        a{
          color: orange;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      .mobile{
        display: none;
        @include mobile{
          display: block;
          font-size: 15px;
        }
        a{
          color: orange;
          text-decoration: underline;
        }
      }


      strong {
        color: orange;
      }

    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 0;
    @include mobile {
      flex-direction: row;
      overflow-x: auto;
      width: 90vw;
      //-webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      gap: 10px;
      justify-content: flex-start;
    }

    .box {
      flex: 1 1 auto;
      max-width: calc(100% / 3 - 20px);
      padding: 15px;
      display: flex;
      flex-direction: column;

      @include mobile {
        flex: 0 0 100vw;
        max-width: 95vw;
        border: none;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
        //justify-content: center;
        scroll-snap-align: start;
      }

      h2 {
        font-size: 28px;
      }

      .mapBox {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include mobile{
          width: 100%;
        }

        .ItemBox {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 18px;
          }

          p {
            font-size: 15px;
          }
          .toggleButton{
            outline: none;
            align-self: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin-top: 5px;
          }

          .date {
            font-style: italic;
          }

          .def {
            margin-left: 15px;
            font-size: 12px;
            font-style: italic;
          }

          .arrItemBox {
            display: flex;
            width: 90%;
            gap: 10px;
            flex-wrap: wrap;
            @include mobile {
              flex-wrap: wrap;
            }

            .arrItem {
              padding: 5px;
              background-color: white;
              color: #0c0c1d;
              border-radius: 5px;

              @include mobile{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
